body {
    display: flex;
    justify-content: center;
}

/* couleurs des titres */
#ancre1, #ancre2, #ancre3, #ancre4, #ancre5 {
    color: white;
}

/* container principal */
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 90vw;
    height: auto;
    background-color: #B7CE63;
}

/* header et son centenus */
header {
    width: 100%;
    height: 23%;
    display: flex;
    background-color: #B7CE63;
}

.head1 {
    width: 63%;
    background-image: url(images/womanflowers.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.head2 {
    width: 37%;
    padding: 2%;
}

.separ {
    border: 1px solid white;
    width: 50%;
    margin: 0 25%;
}

h1 {
    color: white;
    margin-left: 11%;
    margin-top: 8%;
    margin-bottom: 5px;
    font-size: 40px;
}

.slogan {
    color: white;
    font-size: 15px;
    font-style: italic;
    margin-left: 5%;
    margin-top: 5px;
}

.schedule {
    text-decoration: underline;
}

/* barre de navigation */
nav {
    width: 100%;
    height: auto;
    background-color: #78911A;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
}

a {
    font-size: 18px;
    margin: 0 50px;
    color: #B7CE63;
}

/* partie presentation de l'equipe + photo */
.presentation {
    width: 95%;
    height: 10%;
    text-align: justify;
    margin: 0 20px;
}
.presentation1 {
    display: flex;
}
.presentation2 {
    width: 20%;
}
.presentation3 {
    width: 80%;
}
.img1 {
    width: 200px;
    height: 300px;
}
.img2 {
    width: 300px;
    height: 200px;
}
.quote {
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5px;
}
.quote1 {
    text-align: end;
    margin-top: 0px;
    margin-right: 80px;
}

/* partie actualités (pâques) */
.actualites {
    width: 95%;
    height: 20%;
    margin: 0 20px;
    margin-top: 22%;
    text-align: justify;
}

/* partie creation */
.creations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}

.bouquetA {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.bouquetB {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.bouquetC {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.mariage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.saison {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.img {
    width: 25%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.texte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 6px ridge green;
    border-radius: 20px;

    width: 65%;
    height: 90%;
}

/* formulaire de contact */
.formulaire {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 9%;
}

fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 90%;
    height: 90%;
    border: none;
}

input {
    width: 70%;
}

textarea {
    width: 50%;
    height: 50%;
}

.titre_form {
    margin: 0;
}

.info{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: column;
}

.question{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
button{
    width: 20%;
}

/* footer */
footer {
    width: 100%;
    height: 8%;
}
.img3 {
    width: 70px;
    height: 70px;
}