body {
    display: flex;
    justify-content: center;
}

/* container principal */
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 90vw;
    height: 300vh;
    background-color: dimgrey;
}

 /* header et son centenus */
 header {
     width: 100%;
     height: 23%;
     display: flex;
     background-color: #B7CE63;
 }
.head1 {
    width: 63%;
    background-image: url(images/womanflowers.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.head2 {
    width: 37%;
    padding: 2%;
}
.separ {
    border: 1px solid white;
    width: 50%;
    margin: 0 25%;
}
 h1 {
     color: white;
     margin-left: 11%;
     margin-top: 8%;
     margin-bottom: 5px;
     font-size: 40px;
 }
 .slogan {
     color: white;
     font-size: 15px;
     font-style: italic;
     margin-left: 5%;
     margin-top: 5px;
 }
 .schedule {
     text-decoration: underline;
 }

/* barre de navigation */
nav {
    width: 100%;
    height: auto;
    background-color: #78911A;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
}
a {
    font-size: 18px;
    margin: 0 50px;
    color: #B7CE63;
}

/* partie presentation de l'equipe + photo */
.presentation {
    width: 100%;
    height: 10%;
}

/* partie actualités (pâques) */
.actualites {
    width: 100%;
    height: 20%;
}

/* partie creation */
.creations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}

.bouquetA {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.bouquetB {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.bouquetC {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.mariage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.saison {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.img {
    width: 25%;
    height: 100%;
    background-color: blue;
}

.image {
    width: 100%;
    height: 100%;
}

.texte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border:6px ridge green;
    border-radius:20px ;

    width: 65%;
    height: 90%;
}

/* formulaire de contact */
.formulaire {
    width: 100%;
    height: 12%;
}

/* footer */
footer {
    width: 100%;
    height: 5%;
}