body {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.separation {
    border: 1px solid white;
    width: 50%;
    display: flex;
    align-self: center;

    margin: 3% 0;
}
b {
    font-weight: normal;
}

/* couleurs des titres */
#ancre1,
#ancre2,
#ancre3,
#ancre4,
#ancre5 {
    color: white;
}

/* container principal */
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 90vw;
    height: auto;
    background-color: #B7CE63;
}

/* header et son contenus */
header {
    width: 100%;
    height: 23%;
    display: flex;
    background-color: #B7CE63;
}

.head1 {
    width: 55%;
    background-image: url(images/womanflowers.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.head2 {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 2%; 
    justify-self: center;  
}

.separ {
    border: 1px solid white;
    width: 50%;
}

h1 {
    color: white;
    margin-left: 11%;
    margin-top: 8%;
    margin-bottom: 5px;
    font-size: 40px;
}

h2 {
    color: white;
    text-shadow: black 3px 3px 3px;
}

.slogan {
    color: white;
    font-size: 15px;
    font-style: italic;
    margin-left: 5%;
    margin-top: 5px;
}

.underline {
    text-decoration: underline;
}

/* barre de navigation */
nav {
    width: 100%;
    height: auto;
    background-color: #78911A;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
}

a {
    font-size: 18px;
    margin: 0 50px;
    color: #B7CE63;
}

/* partie presentation de l'equipe + photo */
.presentation {
    width: 95%;
    height: auto;
    text-align: justify;
    margin: 0 20px;
}

.presentation1 {
    display: flex;
}

.presentation2 {
    width: 20%;
}

.presentation3 {
    width: 80%;
}

.img1 {
    width: 200px;
    height: 300px;
}

.img2 {
    width: 200px;
    height: 267px;
}

.quote {
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5px;
}

.quote1 {
    text-align: end;
    margin-top: 0px;
    margin-right: 80px;
}

/* partie actualités (pâques) */
.actualites {
    width: 95%;
    height: auto;
    margin: 0 20px;
    text-align: justify;
    display: flex;
}

.actu1 {
    width: 20%;
}

.actu2 {
    width: 75%;
}

.actu2 p {
    text-align: center;
    /* padding: 5%; */
}
.container_paques {
    height: 40%;
    width: 100%;

    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.paques {
    height: 100%;
    width: 15%;
    background-color: blue;
}

.images_paques {
    height: 100%;
    width: 100%;
}
/* partie livraison */
.livraison {
    width: 95%;
    height: auto;
    margin: 0 20px;
    text-align: justify;
}

.livraison p {
    margin: 2px;
}

/* partie creation */
.creations {
    width: 95%;
    height: auto;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.harmonie {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.élegance {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.radiance {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.naturel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.fraicheur {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 19%;
}

.text1 {
    display: flex;
    width: 80%;
    margin-bottom: 8%;
    text-align: justify;
}

.img {
    width: 25%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.texte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #CCD7A7;

    border: 6px ridge green;
    border-radius: 20px;

    width: 65%;
    height: 90%;
}

/* formulaire de contact */
.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 90%;
    height: 90%;
    background-color: #78911A;
    border-radius: 10px;
}

input {
    width: 70%;
    background-color: rgb(218, 231, 168);
}

textarea {
    width: 50%;
    height: 50%;
    background-color: rgb(218, 231, 168);
}

.titre_form {
    margin: 0;
}

.info {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: column;
}

.question {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

button {
    width: 20%;
    background-color: rgb(218, 231, 168);
}

/* footer */
footer {
    width: 95%;
    height: auto;
    margin: 0 20px;
    text-align: center;
}

.img3 {
    width: 70px;
    height: 70px;
}